.icon-circle {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #f6c23e; /* amarelo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}